<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <!--Заготовка для плейлиста-->
    <add key="playlist" value="#-----SUMMARY-----#
ID={F9F97913-C434-4AA1-918F-757F098F1752}
Name=Randomized
NameIsAutoSet=0
PlaybackCursor=0
PlaybackCursorAutoBookmark=0

#-----CONTENT-----#" />
  </appSettings>
</configuration>